* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    user-select: none;
    font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.bio-card__bg-curve {
    fill: #f0f4f8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.bio-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.8rem;
    padding-block: 3rem 0.5rem;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    position: relative;
    padding-bottom: env(safe-area-inset-bottom);
}

.bio-card__share-btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #ffffff83;
    border: none;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px #00000014;
    transition: transform 0.2s ease, background-color 0.2s ease;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem;
}

.bio-card__share-btn i {
    font-size: 1rem;
}

.bio-card__share-btn:hover {
    transform: scale(1.08);
    background-color: #ffffffc2;
}

.bio-card__avatar-box {
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 3px #b2b1b1;
    object-fit: cover;
    overflow: hidden;
}

.bio-card__avatar-img {
    width: 100px;
    transform: scale(1.3);
    object-position: center 2px;
}

.bio-card__user-info {
    display: grid;
    gap: 0.2rem;
    width: 90%;
}

.bio-card__name {
    font-size: 1.8rem;
}

.bio-card__desc {
    font-size: 1rem;
    color: #484848;
}

.bio-card__tag {
    color: #787878;
    font-weight: 500;
}

.bio-card__links {
    margin-top: 0.5rem;
    display: grid;
    gap: 1rem;
    width: 100%;
    padding-inline: 1.1rem;
}

.bio-card__link-item {
    text-decoration: none;
    background: #f0f4f8;
    color: black;
    font-weight: 600;
    border-radius: 2rem;
    padding: 0.8rem;
    box-shadow: 0 2px 6px #b3b3b3;
    transition: 0.3s ease;
}

.bio-card__link-item:hover {
    transform: scale(1.02);
}

.bio-card__socials {
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.bio-card__social-icon {
    font-size: 24px;
    color: #949494;
    transition: 0.3s;
    cursor: pointer;
}

.bio-card__social-icon:hover {
    transform: scale(1.1);
}

.fa-instagram:hover {
    color: #ff00ee;
}

.fa-youtube:hover {
    color: #ff0000;
}

.fa-tiktok:hover {
    color: #000000;
}

.bio-card__disclosure {
    margin-top: auto;
    font-size: 0.7rem;
    color: #8d8b8b;
}

.bio-card__footer {
    background: #f0f4f8;
    color: #454545;
    font-size: 0.80rem;
    font-weight: 500;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media(min-width: 500px) {
    .bio-card__bg-curve {
        display: none;
    }

    .bio-card {
        margin-top: 3rem;
        box-shadow: 0 3px 10px #ddd;
        border-radius: 1rem 1rem 0 0;
        border: 1px solid #ddd;
    }
}
